* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#root > #comment_box,
#root > #comment_list,
#root > #error,
#root > #login,
#root > #signup {
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  height: 15rem;
  padding: 1rem;
  border: #000 solid 1px;
  text-align: center;
  width: 20rem;
}

#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
  padding: 2px 0;
  height: 2rem;
}

#navbar > .horizontal_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#navbar > .horizontal_box > #navbar_links > * {
  padding-right: 1rem;
  color: #fff;
  text-decoration: none;
}

#navbar .box {
  display: flex;
  align-items: center;
}

#navbar .box > p {
  margin-right: 1rem;
  color: #fff;
}

button {
  flex: 0;
  background-color: #000;
  color: #fff;
  border-top: none;
  text-align: center;
  padding: 0.25rem 0;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

#navbar > .horizontal_box > .box > button {
  border-radius: 1rem;
  border: #fff solid 1px;
  align-self: flex-end;
  flex: unset;
  width: 5rem;
}

/* Main component */
#comment_list,
#comment_box,
#login,
#signup {
  box-shadow: 5px 10px 2px #888;
}

#alerts {
  width: 20rem;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

#alerts > p {
  color: #fff;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

#alerts > p.success {
  background-color: rgb(78, 194, 0);
}

#alerts > p.warn {
  background-color: rgb(255, 166, 0);
}

#alerts > p.danger {
  background-color: rgb(255, 0, 0);
}

#comments_list > h2,
#comment_box > h2,
#login > h2,
#signup > h2 {
  flex-grow: 0;
}

#inputs,
.fields {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: fit-content;
  margin: 0.5rem;
  overflow: hidden;
}

#inputs > textarea,
#comments {
  flex: 1;
  resize: none;
  padding: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: #000 solid 1px;
  outline: none;
  overflow: scroll;
}

.fields {
  justify-content: center;
}

.fields > input {
  height: 1.5rem;
  border-radius: 0%;
  outline: none;
  border: none;
  border: #000 solid 1px;
  padding-left: 0.5rem;
}

.fields > input:first-of-type {
  margin-bottom: 0.625rem;
}

.fields > label {
  text-align: left;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

#login > button,
#signup > button {
  padding: 0.25rem;
  border: none;
  margin: 0.5rem;
}

#root > p#sign_up_instead,
#root > p#log_in_instead {
  text-align: center;
  margin-top: 1.25rem;
}

#inputs > textarea {
  max-height: 8.5rem;
}

#comments {
  margin: 0.5rem;
}

#comments > p {
  text-align: left;
  padding-bottom: 1rem;
}

#inputs > .buttons {
  display: flex;
}

#inputs > .buttons > button {
  flex: 1;
  border: none;
}

#inputs > .buttons > *:first-of-type {
  margin-right: 1px;
}

#inputs > .buttons > *:last-of-type {
  margin-left: 1px;
}

#inputs > .buttons > button:first-of-type:hover,
#inputs > .buttons > button:first-of-type:focus {
  transform: scale(2) translate(25%, -25%);
  margin-right: 0;
}

#inputs > .buttons > button:last-of-type:hover,
#inputs > .buttons > button:last-of-type:focus {
  transform: scale(2) translate(-25%, -25%);
  margin-left: 0;
}
