* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#root > *:not(#navbar) {
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  height: 15rem;
  padding: 1rem;
  border: #000 solid 1px;
  text-align: center;
  width: 20rem;
}

#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
  padding: 2px 0;
}

#navbar > .horizontal-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#navbar > .horizontal-box > #navbar_links > * {
  padding-right: 1rem;
  color: #fff;
  text-decoration: none;
}

button {
  flex: 0;
  background-color: #000;
  color: #fff;
  border-top: none;
  text-align: center;
  padding: 0.25rem 0;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition-property: background-color transform;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

#navbar > .horizontal-box > button {
  align-self: flex-end;
  flex: unset;
  width: 5rem;
  border-radius: 1rem;
  border: #fff solid 1px;

}
/* Comment Box */
#comment_box {
  border: 1px solid;
  box-shadow: 5px 10px 2px #888;
}

/* Comment List */
#comment_list {
  border: 1px solid;
  box-shadow: 5px 10px 2px #888;
}

#comments_list > h2,
#comment_box > h2 {
  flex-grow: 0;
}

#vertical-box,
#inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: fit-content;
  margin: 0.5rem;
  overflow: hidden;
}

#inputs > *,
#vertical-box > * {
  width: 100%;
  border: #000 solid 1px;
}

#inputs > textarea,
#vertical-box > #comments {
  flex: 1;
  resize: none;
  padding: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  outline: none;
  max-height: 8.5rem;
  overflow: scroll;
}

#comments > p {
  text-align: left;
  padding-bottom: 1rem;
}

#inputs > button:hover,
#inputs > button:focus {
  transform: skew(0, 5deg) scale(2);
}

#vertical-box > button:hover,
#vertical-box > button:focus {
  transform: skew(0, -5deg) scale(2);
}
